// Homepage

.services-section {
  text-align: center;
}

.service-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;

  img {
    width: 15rem;
    height: auto;
  }
}

.choose-us-section {
  text-align: center;

  button {
    margin: 1.5rem 0;
  }
}

.portfolio-section {
  text-align: center;
}

.portfolio-tile {
  img {
    width: 25rem;
    height: auto;
  }
}

.testimonial-section {
  text-align: center;
}

.testimonial-text {
  font-style: italic;
}

.testimonial-name {
  font-weight: bold;
}

.testimonial-tile-container {
  display: flex;
  justify-content: center;
}

.testimonial-tile {
  width: 80%;
}

.contact-us-section {

  h2,
  p {
    text-align: center;
  }
}