// Homepage

.services-section {
  text-align: center;
}

.service-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;

  img {
    width: 15rem;
    height: auto;
  }
}

.choose-us-section {
  text-align: center;

  button {
    margin: 1.5rem 0;
  }
}