// Carousel

// Portfolio Carousel

.portfolio-carousel {
  width: 30rem;
  margin: 2.5rem auto;
}

.carousel-status {
  text-shadow: none !important;
}

.dot {
  background-color: black !important;
  box-shadow: none !important;
}